# Ignore specific RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore specific VS Code files
.vscode/

# Ignore specific Quarto files
/.quarto/

# Only keep the real HTML output
docs/

# Ignore the data directory
data/
